<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN MENU</li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Home </a></li>
            <li><a href="@Url.Action("Index","User")"><i class="fa fa-users"></i> User Activity </a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-gears"></i> <span>Roles</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Index","Role")"><i class="fa fa-gear"></i> Role User </a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-users"></i> <span>User List</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Index","Client")"><i class="fa fa-user"></i> Client </a></li>
            <li><a href="@Url.Action("Index","Site")"><i class="fa fa-user"></i> Rektor & Wakil Rektor </a></li>
            <li><a href="@Url.Action("Index","StaffCategory")"><i class="fa fa-user"></i> Staff </a></li>
            <li><a href="@Url.Action("Index","Mahasiswa")"><i class="fa fa-user"></i> Mahasiswa </a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="glyphicon glyphicon-education"></i> <span>Akademik</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Index","Fakultas")"><i class="fa fa-graduation-cap"></i> Fakultas </a></li>
            <li><a href="#"><i class="fa fa-book"></i> Mata Kuliah </a></li>
            <li><a href="#"><i class="glyphicon glyphicon-book"></i> Nilai </a></li>
        </ul>
    </li>
</ul>