<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN MENU</li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Index","Home")"><i class="fa fa-circle-o"></i> Home </a></li>
            <li><a href="@Url.Action("Index","User")"><i class="fa fa-circle-o"></i> User Activity </a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user"></i> <span>User List</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Index","Client")"><i class="fa fa-circle-o"></i> Client </a></li>
            <li><a href="@Url.Action("Index","Site")"><i class="fa fa-circle-o"></i> Site </a></li>
            <li><a href="@Url.Action("Index","StaffCategory")"><i class="fa fa-circle-o"></i> Staff </a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Mahasiswa </a></li>
        </ul>
    </li>
</ul>